@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: #112130;
}

article a {
  color: rgb(81, 196, 211);
  text-decoration: underline;
}

/* For highlighting code stuff */
p > code {
  background: #1d3348;
  padding: 3px;
  border-radius: 6px;
}

li {
  list-style-type: korean-hangul-formal;
  list-style-type: hangul;
  list-style-type: bulletpoint;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "Jetbrains Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-size: 14px;
  tab-size: 2;
}

:not(pre) > code[class*="language-"] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.2em 0.4em;
}

.token.function {
  color: #f9c685;
}

hr {
  background: #293a4a;
  height: 2px;
}

/* .hvariable {
  color: rgb(43, 61, 226);
} */
