---
import { Picture } from "@astrojs/image/components";
import type { KindleBookDetails } from "kindle-api";

interface Props extends KindleBookDetails {
  class?: string;
}

const { props } = Astro;

const percentageRead = Math.round(Number(props.percentageRead.toFixed(1)));
---

<article class:list={[props.class, "relative flex flex-col gap-1"]}>
  <Picture
    background="black"
    alt={`Book cover image for ${props.title}`}
    widths={[500]}
    sizes=""
    loading="lazy"
    class="w-full h-full object-cover aspect-ratio-[2/3] opacity-100 outline outline-1 outline-body-800"
    aspectRatio="2:3"
    src={props.productUrl}
  />
  <progress
    class="book-progress-bar transition-all w-full h-1"
    max={100}
    value={percentageRead}
  >
  </progress>
  <div class="flex transition-all text-sm w-full color-text-400 justify-center">
    <p data-sync-date={props.progress.syncDate} class="last-read">loading...</p>
  </div>
</article>

<script>
  import formatDistance from "date-fns/formatDistance";
  const lastReadAll = document.querySelectorAll(".last-read");
  lastReadAll.forEach((lastRead) => {
    if (lastRead instanceof HTMLParagraphElement) {
      const readTime = formatDistance(
        new Date(lastRead.dataset.syncDate as string),
        new Date(),
        {
          addSuffix: true,
        }
      );
      lastRead.textContent = readTime;
    }
  });
</script>

<style>
  .book-progress-bar,
  .book-progress-bar[value] {
    appearance: none;
    background: transparent;

    /* Get rid of default border in Firefox. */
    border: none;
  }

  .book-progress-bar[value]::-moz-progress-bar {
    background: var(--brand-900);
  }
  .book-progress-bar[value]::-webkit-progress-bar {
    background: transparent;
  }
  .book-progress-bar[value]::-webkit-progress-value {
    background: var(--brand-900);
  }
</style>
