---
interface Props {
  icon?: React.ReactNode;
}
---

<aside class="bg-body-800 p-6 not-prose rounded flex gap-4">
  <p>💡</p>
  <div class="flex flex-col color-text-500">
    <slot />
  </div>
</aside>
