.article-grid {
  display: grid;
  font-family: var(--font-family-serif);
  font-weight: 300;
  grid-auto-flow: row;
  grid-template-columns: 1fr min(50rem, 100%) 1fr;
  margin-inline-start: auto;
  margin-inline-end: auto;
  justify-content: center;
  grid-row-gap: var(--gap-3);
}

.article-grid :global(code) {
  background: red;
}

/* lower specificity */
:where(.article-grid.larger-line-height > *) {
  line-height: 2.5rem;
}
:where(.article-grid img) {
  /* centering smaller images */
  margin: 0 auto;
}
:where(.article-grid > *) {
  grid-column: 2 / auto;
}

:where(.article-grid > astro-island > *) {
  grid-column: 2 / auto;
}
