a.underlined,
.article-grid a {
  display: inline-flex;
  position: relative;
  text-decoration: none;
  transition: opacity 300ms, transform 300ms;
}

.article-grid:where(a) {
  display: inline-flex;
  align-items: flex-start;
  word-break: keep-all;
  color: var(--brand-500);
}

a.underlined::before,
.article-grid a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--body-400);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a.underlined:hover,
.article-grid a:hover {
  transform: translateY(-0.1em);
}

a.underlined:hover::before,
a.underlined:focus::before,
.article-grid a:focus::before,
.article-grid a:hover::before {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* ExternalLink component has an edge case to cover this */
.article-grid a[href^="http"]:not(.external-link)::after,
.article-grid a[href^="https://"]:not(.external-link)::after
{
  content: "";
  width: 1rem;
  background: var(--brand-500);
  align-self: flex-start;
  height: 1rem;
  margin-top: 0.4rem;
  margin-left: 0.2rem;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  background-size: contain;
  display: inline-flex;
}
