---
import { Image } from "astro:assets";
import { MeQuery } from "generated/gql/graphql";

type SingleSong = MeQuery["likedSongs"][number]["song"];

interface Props extends SingleSong {}

const { props } = Astro;
---

<article class="flex gap-3">
  {
    props.coverUrl && (
      <Image
        sizes=""
        alt={`Album art for ${props.title}`}
        aspectRatio={1}
        width={64}
        height={64}
        src={props.coverUrl}
        loading="lazy"
        class="rounded aspect-ratio-1 outline outline-1 outline-body-700 object-cover"
      />
    )
  }
  <div class="flex flex-col justify-center">
    <h2 aria-label="Track name" class="color-text-800 font-medium">
      {props.title}
    </h2>
    <h3 aria-label="Track artist" class="color-text-100">
      {props.artist}
    </h3>
  </div>
</article>
