.progress {
  -webkit-appearance: none;
  appearance: none;
  background: var(--body-800);
}

.progress[value]::-webkit-progress-value {
  background-color: var(--brand-900);
}

.progress[value]::-moz-progress-bar {
  background-color: var(--brand-900);
}

.progress[value]::-webkit-progress-bar {
  background-color: var(--body-800);
}
