---
interface Props {
  class?: string;
  "class:list"?: (string | undefined)[];
}
---

<div
  class:list={[
    Astro.props.class,
    ...(Astro.props["class:list"] || []),
    "flex flex-col gap-4",
  ]}
>
  <slot />
</div>
