---
import { getBooks } from "🛠️/kindle";
import HomepageSection from "./HomepageSection.astro";
import KindleBook from "./KindleBook.astro";
import SectionHeader from "./SectionHeader.astro";

interface Props {
  class?: string;
}

const books = await getBooks();
---

<HomepageSection class="@container flex">
  <SectionHeader>Liked Songs</SectionHeader>
  <div
    class="grid book-grid gap-3 @container @xs:grid-cols-[repeat(auto-fit,_minmax(300px,_1fr))]"
  >
    {
      books.map((book) => {
        return <KindleBook {...book} />;
      })
    }
  </div>
</HomepageSection>

<style>
  :where(.book-grid) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
</style>
