---
import { Image } from "astro:assets";
import avatar from "../assets/avatars/xetera.png";
---

<nav class="px-6 py-4 top-0 w-full navbar" id="navbar">
  <ul class="w-full flex justify-between">
    <li>
      {
        Astro.url.pathname !== "/" && (
          <a href="/" rel="prefetch">
            <Image
              class="hover:scale-110 transition-all w-[50px]"
              src={avatar}
              alt="Home button"
              quality="high"
              height={140}
              width={140}
            />
          </a>
        )
      }
    </li>
    <li role="button" id="theme-switcher" aria-label="Switch theme">
      <div
        class="p-2 rounded-lg bg-body-800 hover:bg-body-700 outline outline-1 outline-body-700 transition-all"
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 20 20"
          height="30px"
          width="30px"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            clip-rule="evenodd"></path></svg
        >
      </div>
    </li>
  </ul>
</nav>

<noscript>
  <style>
    #theme-switcher {
      display: none;
    }
  </style>
</noscript>
<style>
  .navbar {
    z-index: 2;
  }
</style>

<script>
  import { toggleTheme } from "src/scripts/theme-switcher";

  const switcher = document.querySelector("#theme-switcher")!;
  switcher.addEventListener("click", toggleTheme);
</script>
