@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-100px);
  }
}

.popup {
  /* transition: 0.3s;
  animaprinion: 0.3s pop-in; */
}
