@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-regularitalic-webfont.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-bolditalic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-semibolditalic-webfont.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-mediumitalic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard/wotfard-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "JetBrains Mono";
  font-style: normal;
  src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"),
    url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}
